/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
}

.svg {
  display: block;
  width: 50%;
  margin: 30px auto;
   color: #BBB;
   fill: #BBB;
}


.jumbotron {
    margin-bottom: 0px;
    background-image: url(images/SLIDE_BG_AQUA.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    padding:0px;
    margin:0px;
    margin-left: -1px;
}

.navbar .navbar-header .icon-bar {
    background-color: black;
}

.navbar {

border-radius: 0px;
}


@font-face {
    font-family: 'museo_slab500';
    src: url('museo/museo_slab_500-webfont.eot');
    src: url('museo/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo/museo_slab_500-webfont.woff2') format('woff2'),
         url('museo/museo_slab_500-webfont.woff') format('woff'),
         url('museo/museo_slab_500-webfont.ttf') format('truetype'),
         url('museo/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

li { 
	font-family: 'museo_slab500', Arial, sans-serif; 
	color:#000; 
	font-size: 1.3em;
}


/* unvisited link */
a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}

